samples/askap
!samples/askap/install.sh
!samples/askap/askap.sh
!samples/askap/askap-SS-1100.conf
!samples/askap/leap-askap.json
samples/ska
!samples/ska/install.sh
!samples/ska/ska.sh
!samples/ska/SKA_LOW_SIM_short_EoR0_ionosphere_on_GLEAM.conf
!samples/ska/leap-ska.json
samples/ngas
!samples/ngas/install.sh
!samples/ngas/ngas.sh
!samples/ngas/functest.conf
!samples/ngas/leap-ngas.json
samples/mwa
!samples/mwa/install.sh
!samples/mwa/mwa.sh
!samples/mwa/1197638568-split.conf
!samples/mwa/leap-mwa.json

**/log
*.cache
*.hash
